# w-flow global gitignore
node_modules
.pnp
.pnp.js

# Next.js (web)
web/.next/
web/out/
web/build/

# NestJS (server)
server/dist/
server/build/
server/out/

# IDE / Editor
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.trae

# Misc
*.pem
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
